In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=30)
lngs = np.random.uniform(low=-180.000, high=180.000, size=30)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
coordinates=list(lat_lngs)

In [4]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [5]:
# Use the print() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(citipy.nearest_city(coordinate[0], coordinate[1]).city_name,
          citipy.nearest_city(coordinate[0], coordinate[1]).country_code)

longyearbyen sj
saint-pierre pm
yamada jp
kloulklubed pw
qaanaaq gl
sisimiut gl
bathsheba bb
saint-philippe re
zhigansk ru
busselton au
vanimo pg
longyearbyen sj
atuona pf
esperance au
salumbar in
kyaikto mm
koumac nc
isangel vu
mar del plata ar
macaboboni ph
vaitupu wf
hilo us
leningradskiy ru
mataura pf
vao nc
leningradskiy ru
kruisfontein za
mys shmidta ru
bluff nz
punta arenas cl

In [6]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

28

In [7]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [8]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [9]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=699dc5fbdea7b8a1b535e99565525bbb

In [10]:
#Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1


# Loop through all the cities in the list.
for i, city in enumerate(cities):

# Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(10)

# Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

 # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
 # Add 1 to the record count.
    record_count += 1

 # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
     print("City not found. Skipping...")
    pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | longyearbyen
Processing Record 2 of Set 1 | saint-pierre
Processing Record 3 of Set 1 | yamada
Processing Record 4 of Set 1 | kloulklubed
Processing Record 5 of Set 1 | qaanaaq
Processing Record 6 of Set 1 | sisimiut
Processing Record 7 of Set 1 | bathsheba
Processing Record 8 of Set 1 | saint-philippe
Processing Record 9 of Set 1 | zhigansk
Processing Record 10 of Set 1 | busselton
Processing Record 11 of Set 1 | vanimo
Processing Record 12 of Set 1 | atuona
Processing Record 13 of Set 1 | esperance
Processing Record 14 of Set 1 | salumbar
Processing Record 15 of Set 1 | kyaikto
Processing Record 16 of Set 1 | koumac
Processing Record 17 of Set 1 | isangel
Processing Record 18 of Set 1 | mar del plata
Processing Record 19 of Set 1 | macaboboni
City not found. Skipping...
Processing Record 20 of Set 1 | vaitupu
City not found. Skipping...
Processing Record 21 of Set 1 | hilo
Processing Record 22 of Set 1 | leningradskiy
Processing Record 23 of Set 1 | mataura
Processing Record 24 of Set 1 | vao
Processing Record 25 of Set 1 | kruisfontein
Processing Record 26 of Set 1 | mys shmidta
City not found. Skipping...
Processing Record 27 of Set 1 | bluff
Processing Record 28 of Set 1 | punta arenas
-----------------------------
Data Retrieval Complete
-----------------------------

In [11]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Longyearbyen,78.2186,15.6401,42.64,75,75,19.57,SJ,2022-07-28 12:48:28
1,Saint-Pierre,-21.3393,55.4781,75.29,70,100,8.05,RE,2022-07-28 12:48:29
2,Yamada,39.4667,141.9500,71.35,94,14,2.89,JP,2022-07-28 12:48:29
3,Kloulklubed,7.0419,134.2556,77.50,72,100,9.31,PW,2022-07-28 12:48:29
4,Qaanaaq,77.4840,-69.3632,38.14,73,13,1.63,GL,2022-07-28 12:48:30
5,Sisimiut,66.9395,-53.6735,44.33,78,100,5.70,GL,2022-07-28 12:48:30
6,Bathsheba,13.2167,-59.5167,84.81,83,75,19.57,BB,2022-07-28 12:48:30
7,Saint-Philippe,-21.3585,55.7679,75.22,77,50,9.84,RE,2022-07-28 12:48:31
8,Zhigansk,66.7697,123.3711,72.14,59,67,8.88,RU,2022-07-28 12:48:31
9,Busselton,-33.6500,115.3333,63.01,79,26,16.24,AU,2022-07-28 12:48:31

In [19]:
new_column_order = ["column2", "column4", "column1"]
city_data.append({"City": city.title(),
                          "Country": city_country,
                          "Date": city_date,
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind
                          })
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Longyearbyen,78.2186,15.6401,42.64,75,75,19.57,SJ,2022-07-28 12:48:28
1,Saint-Pierre,-21.3393,55.4781,75.29,70,100,8.05,RE,2022-07-28 12:48:29
2,Yamada,39.4667,141.9500,71.35,94,14,2.89,JP,2022-07-28 12:48:29
3,Kloulklubed,7.0419,134.2556,77.50,72,100,9.31,PW,2022-07-28 12:48:29
4,Qaanaaq,77.4840,-69.3632,38.14,73,13,1.63,GL,2022-07-28 12:48:30
5,Sisimiut,66.9395,-53.6735,44.33,78,100,5.70,GL,2022-07-28 12:48:30
6,Bathsheba,13.2167,-59.5167,84.81,83,75,19.57,BB,2022-07-28 12:48:30
7,Saint-Philippe,-21.3585,55.7679,75.22,77,50,9.84,RE,2022-07-28 12:48:31
8,Zhigansk,66.7697,123.3711,72.14,59,67,8.88,RU,2022-07-28 12:48:31
9,Busselton,-33.6500,115.3333,63.01,79,26,16.24,AU,2022-07-28 12:48:31